form.CreateTodoForm {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

form.CreateTodoForm input,
form.CreateTodoForm button {
    padding: 0.5em 1em;
}

form.CreateTodoForm label {
    font-size: 1.25em;
}

form.CreateTodoForm button {
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 1em 0;
    cursor: pointer;
}

form.CreateTodoForm button:active {
    transform: scale(0.98);
}